.filterVerBar{
    background: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #787b83;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,.1);
    margin: auto;
    margin-bottom: 20px;
    overflow: hidden;
    justify-content: flex-start;
    overflow: visible;
    padding: 20px 0px !important;
    margin: 0px 5px;
}

.filterOptions{
    position: absolute;
    z-index: 10;
    width: 100px;
    background: #fff;
    min-width: 200px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #787b83;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,.1);
    margin: 5px;
    padding: 15px;
}

.flex{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-1{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.inputTextFilter{
    width: 100%;
    border-radius: 5px;
    border: solid;
    border-width: 0.05em;
    margin: 5px 0px;
    padding: 5px;
    border-color: #eee;
    background: #fff;
}

.filterItem{
    border-bottom:solid 2px #eaeaea;
    width: 100%;
    min-height: 50px;
    justify-content: center;
    align-items: left;
    text-align: left;
    padding: 10px 15px;
}

.filterItem:hover{
    background: #eee;
}

.flex-column{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-row{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.card-description{
    height: 68px;
    overflow: hidden;
}

.flex-justify-content-space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-align-center {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.extra-margin-right-xl {
    margin-right: 16px!important;
}

.ProfileItemBase--InnerBlock {
    padding: 16px;
    padding: 1rem;
    border-radius: .4rem;
    margin-right: 8px;
    margin-right: .5rem;
    background-color: #f8f8f8;
}

.ProfileItemBase .PresenceProfilePic img {
    border-radius: 4px;
}

.extra-margin-bottom-xl {
    margin-bottom: 16px !important;
}
.verb-profile-pic {
    display: block;
    transition: opacity .3s ease-in-out;
    background-size: cover;
}

/* range */

  section.range-slider {
    position: relative;
    width: 100%;
    height: 35px;
    text-align: center;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 15px;
    width: 100%;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}
section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
  section.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}
